<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your business!</h1>
    <p>
      You have successfully submitted and paid for your order.
    </p>
    <p>Thanks for shopping with Jungle and have a great day!</p>
  </body>
</html>